<?xml version="1.0" encoding="utf-8" ?>
<CropHealer>
  <exclusions>
    <contentTypes>
      <!--<add alias="umbNewsItem"/>-->
    </contentTypes>
    <mediaTypes>
      <!--<add alias="Image"/>-->
    </mediaTypes>
    <memberTypes>
      <!--<add alias="Member"/>-->
    </memberTypes>
    <!--<dataTypes>
      --><!-- ** NOT YET IMPLEMENTED ** --><!--
      --><!--<add id="1234"/>--><!--
    </dataTypes>-->
  </exclusions>
</CropHealer>