<?xml version="1.0" encoding="utf-8" ?>
<CropHealer>
  <exclusions>
    <contentTypes>
      <!--<add alias="umbNewsItem"/>-->
    </contentTypes>
    <mediaTypes>
      <!--<add alias="Image"/>-->
    </mediaTypes>
    <memberTypes>
      <!--<add alias="Member"/>-->
    </memberTypes>
  </exclusions>
</CropHealer>