<?xml version="1.0" encoding="utf-8" ?>
<CropHealer>
  <exclusions>
    <contentTypes>
      <!--<add alias="umbNewsItem"/>-->
    </contentTypes>
    <mediaTypes>
      <!--<add alias="Image"/>-->
    </mediaTypes>
    <memberTypes>
      <!--<add alias="Member"/>-->
    </memberTypes>
    <dataTypes>
      <!--<add key="ad22693b-ee84-4142-b601-35e43d615411"/>-->
    </dataTypes>
  </exclusions>
</CropHealer>